* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #8e2de2; /* Roxo vibrante */
  --secondary: #4a00e0; /* Azul profundo */
  --highlight: #ff6b6b; /* Coral */
  --dark: #343a40; /* Cinza escuro */
  --light: #f8f9fa; /* Cinza claro quase branco */
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  color: var(--light);
  font-size: 2rem;
}

h2 {
  color: var(--dark);
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: 600;
}

h3 {
  color: var(--light);
  font-size: 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

section {
  width: 90%;
  margin: 2rem auto;
}

header {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: var(--light);
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: var(--highlight);
  text-decoration: underline;
}

#about article {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#about img {
  width: 200px;
  flex-shrink: 0;
}

#about p {
  flex: 1;
}

#video figure {
  display: flex;
  justify-content: center;
}

footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--light);
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  font-weight: bold;
  text-align: center;
}

footer section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

footer img {
  width: 2rem;
  height: 2rem;
  display: block;
  filter: invert(100%);
  transition: transform 0.3s ease, filter 0.3s;
}

footer img:hover {
  transform: scale(1.2);
  filter: brightness(0) saturate(100%) invert(65%) sepia(59%) saturate(2437%)
    hue-rotate(213deg) brightness(86%) contrast(88%);
}

.main_contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 90%;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form input,
textarea {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--dark);
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 5rem;
}

form button {
  background: var(--highlight);
  color: var(--light);
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

form button:hover {
  background: #e05757;
  transform: scale(1.05);
}

form span {
  color: #ff0000;
  font-size: 0.75rem;
}

.article_mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--light);
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.article_mapa address {
  width: 75%;
}

.article_mapa address p {
  font-weight: 600;
}

.article_mapa iframe {
  align-self: center;
}
